<div class=" relative min-h-screen flex items-center justify-center bg-cover bg-center"
     style="background-image: url('https://media.licdn.com/dms/image/v2/C4D12AQHKuVpUKVtEtg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1561653933026?e=2147483647&v=beta&t=KcoKH3zla9X_Qn7LXfPQzGIwDIoxY5bv3Z5D-mMVv_Y');">

<!--  <div class="absolute  inset-0 bg-black opacity-50 "></div>-->
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Réinitialiser le mot de passe</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <label class="block text-sm font-medium text-gray-700">Nouveau mot de passe</label>
      <input type="password" formControlName="password"
             class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
             placeholder="Nouveau mot de passe">

      <label class="block text-sm font-medium text-gray-700">Confirmer le mot de passe</label>
      <input type="password" formControlName="confirmPassword"
             class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
             placeholder="Confirmer le mot de passe">

      <small class="text-red-500" *ngIf="formErrors?.['mismatch']">
        Les mots de passe ne correspondent pas.
      </small>


      <button type="submit"
              class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">
        Réinitialiser
      </button>
    </form>
  </div>
</div>
