<div class=" relative min-h-screen flex items-center justify-center bg-cover bg-center"
     style="background-image: url('https://media.licdn.com/dms/image/v2/C4D12AQHKuVpUKVtEtg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1561653933026?e=2147483647&v=beta&t=KcoKH3zla9X_Qn7LXfPQzGIwDIoxY5bv3Z5D-mMVv_Y');">

<!--  <div class="absolute  inset-0 bg-black opacity-50 "></div>-->
  <div class="bg-white p-8 rounded-lg shadow-2xl  w-96">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Mot de passe oublié</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <label class="block text-sm font-medium text-gray-700">Adresse e-mail</label>
      <input type="email" formControlName="email"
             class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
             placeholder="Entrez votre email">

      <small class="text-red-500"
             *ngIf="emailControl?.invalid && emailControl?.touched">
        Veuillez entrer une adresse e-mail valide.
      </small>



      <button type="submit" [disabled]="isLoading"
              class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">
        {{ isLoading ? 'Envoi...' : 'Envoyer le lien'}}
      </button>
    </form>
  </div>
</div>
