<div class=" relative min-h-screen flex items-center justify-center bg-cover bg-center"
     style="background-image: url('https://media.licdn.com/dms/image/v2/C4D12AQHKuVpUKVtEtg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1561653933026?e=2147483647&v=beta&t=KcoKH3zla9X_Qn7LXfPQzGIwDIoxY5bv3Z5D-mMVv_Y');">

  <div class="absolute  inset-0 bg-black opacity-50 "></div>

    <div class="bg-white p-8 rounded-lg shadow-2xl w-96 transform transition-all hover:scale-105">
      <div class="mb-8 flex flex-col items-center">
        <a routerLink="/" >
          <img src="/assets/images/logo-black.png" alt="Constructi Logo" class="h-20 w-auto mb-2"/>
        </a>
      </div>
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="relative">
        <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
        <div class="flex items-center">
          <fa-icon [icon]="faEnvelope" class="text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2"></fa-icon>
          <input type="email" id="email" formControlName="email"
                 class="pl-10 pr-3 py-2 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </div>
        <small class="text-red-500" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          Email invalide
        </small>
      </div>

      <div class="relative">
        <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Mot de passe</label>
        <div class="flex items-center">
          <fa-icon [icon]="faLock" class="text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2"></fa-icon>
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                 class="pl-10 pr-10 py-2 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
          <button type="button" (click)="togglePasswordVisibility()" class="absolute right-3 top-1/2 transform -translate-y-1/2">
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye" class="text-gray-400"></fa-icon>
          </button>
        </div>
        <small class="text-red-500" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Mot de passe trop court (min. 6 caractères)
        </small>
      </div>

      <button type="submit" [disabled]="loginForm.invalid || isLoading" class="w-full bg-gradient-to-r from-blue-500 to-indigo-600 text-white py-2 px-4 rounded-md hover:from-blue-600 hover:to-indigo-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        {{ isLoading ? 'Connexion en cours...' : 'Se connecter' }}
      </button>
    </form>

    <div class="mt-6 flex justify-between items-center">
      <a
        [routerLink]="'/auth/forgot-password'"
        class="text-sm text-indigo-600 hover:text-indigo-800 transition duration-300 ease-in-out"
      >
        Mot de passe oublié ?
      </a>
<!--      <a-->
<!--        [routerLink]="'/auth/register'"-->
<!--        class="text-sm text-indigo-600 hover:text-indigo-800 transition duration-300 ease-in-out"-->
<!--      >-->
<!--        S'inscrire-->
<!--      </a>-->
    </div>

  </div>
</div>
